name: Build IPK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare SDK
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential gawk git libncurses5-dev gettext libssl-dev xsltproc wget
          
          # 自动获取最新 Snapshot SDK 的下载地址
          DOWNLOAD_URL=$(curl -s https://downloads.openwrt.org/snapshots/targets/x86/64/ | grep -oE 'openwrt-sdk-x86-64_[^"]+\.tar\.xz' | head -n 1)
          FULL_URL="https://downloads.openwrt.org/snapshots/targets/x86/64/$DOWNLOAD_URL"
          
          echo "正在下载 SDK: $FULL_URL"
          wget "$FULL_URL"
          tar xf openwrt-sdk-*.tar.xz
          mv openwrt-sdk-* sdk

      - name: Build
        run: |
          cd sdk
          mkdir -p package/luci-app-pppoe-reconn
          cp -r ../Makefile ../htdocs ../root package/luci-app-pppoe-reconn/
          make defconfig
          make package/luci-app-pppoe-reconn/compile V=s

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: pppoe-reconn-ipk
          path: sdk/bin/packages/*/base/luci-app-pppoe-reconn*.ipk